# =========================
# Angular
# =========================
node_modules/
dist/
.angular/
.cache/
coverage/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env
.env.*

# =========================
# Django / Python
# =========================
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/
.venv/

# Django db
db.sqlite3

# Static/media builds
staticfiles/
media/

# Migrations cache
*.pyo

# =========================
# VS Code
# =========================
.vscode/

# =========================
# JetBrains
# =========================
.idea/
*.iml

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log