<nav class="navbar">
  <div class="nav-left">
    <a routerLink="/" class="logo">EduFinder</a>
  </div>

  <div class="nav-search">
    <input
      [(ngModel)]="searchQuery"
      (keyup.enter)="onSearch()"
      placeholder="Search courses..."
    />
    <button (click)="onSearch()" class="search-btn">
      Search
    </button>
  </div>

  <div class="nav-links">
  <a routerLink="/courses">Courses</a>
  <a routerLink="/companies">Companies</a>

  @if (auth.isLoggedIn() && auth.role() === 'company') {
    <a routerLink="/add-course">Add Course</a>
  }
</div>
  <div class="nav-auth">
    @if (auth.isLoggedIn()) {
      <a routerLink="/profile" class="profile">{{ auth.username() }}</a>
      <button (click)="logout()" class="logout">Logout</button>
    } @else {
      <a routerLink="/login" class="login">Log In</a>
      <a routerLink="/register" class="register">Register</a>
    }
  </div>
</nav>