<section class="auth-page">
  <div class="auth-card">
    <h1>Регистрация</h1>

    <input [(ngModel)]="username" type="text" placeholder="Username" />
    <input [(ngModel)]="full_name" type="text" placeholder="Полное имя" />
    <input [(ngModel)]="email" type="email" placeholder="Email" />
    <input [(ngModel)]="password" type="password" placeholder="Пароль" />

    <button (click)="submitRegister()">Зарегистрироваться</button>

    @if (successMessage) {
      <p class="success">{{ successMessage }}</p>
    }

    @if (errorMessage) {
      <p class="error">{{ errorMessage }}</p>
    }
  </div>
</section>